.existingFilesContainer {
    max-height: 200px;
    overflow-y: auto;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .existingFilesList {
    margin-bottom: 10px;
  }
  
  .existingFilesList button {
    margin-left: 10px;
  }
  