/*  .parentForm:first-child {
  max-width:none !important;
  display: flex;
  justify-content: center;
} */

/* .parentTab:first-child > :first-child > * {
  display: flex;
  justify-content: center;
} */

.parentForm {
  padding: 1rem;
  height: 700px;
}

.trattamentoEconomicoSenzaStorici {
  padding: 1rem;
  height: 700px;
}
.trattamentoEconomicoConStorici {
  padding: 1rem;
  height: fit-content;
}
.trattamentoEconomicoSenzaStorici:first-child {
  max-width: none;

  & > :first-child > * {
    display: grid;
    /*grid-template-rows: repeat(6, 1fr);*/
    grid-template-columns: repeat(3, 1fr);
    gap: 2% 10%;
  }
  & form {
    max-width: 100% !important;
  }
}
.trattamentoEconomicoConStorici:first-child {
  max-width: none;

  & > :first-child > * {
    display: grid;
    /*grid-template-rows: repeat(6, 1fr);*/
    grid-template-columns: repeat(3, 1fr);
    gap: 2% 10%;
  }
  & form {
    max-width: 100% !important;
  }
}

.parentForm:first-child {
  max-width: none;

  & > :first-child > * {
    display: grid;
    /*grid-template-rows: repeat(6, 1fr);*/
    grid-template-columns: repeat(3, 1fr);
    gap: 2% 10%;
  }
  & form {
    max-width: 100% !important;
  }
}

@media (max-width: 600px) {
  .parentForm:first-child {
    max-width: none;

    & > :first-child > * {
      display: flex;
      flex-direction: column;
    }
    & form {
      max-width: 100% !important;
    }
  }
  .trattamentoEconomicoSenzaStorici:first-child {
    max-width: none;

    & > :first-child > * {
      display: flex;
      flex-direction: column;
    }
    & form {
      max-width: 100% !important;
    }
  }

  .trattamentoEconomicoConStorici:first-child {
    max-width: none;

    & > :first-child > * {
      display: flex;
      flex-direction: column;
    }
    & form {
      max-width: 100% !important;
    }
  }

  .trattamentoEconomicoSenzaStorici {
    padding: 1rem;
    height: fit-content;
  }
  .parentForm {
    padding: 1rem;
    height: fit-content !important;
  }

  .checkboxContainer {
    padding: 1rem;
    height: fit-content !important;
  }
}

.navigationButtons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.navigationButtons Button {
  margin: 0 10px;
}

/* .checkboxContainer:first-child > :first-child > * > input:checked{
   background-color: #E1F5FE;
   color: #0497B8 !important;
   padding: 0.5rem !important;
   border-radius: 4px !important;
 } */
.buttonTrattamento {
  margin-top: 3rem;
  display: flex;
  justify-content: flex-start;
  margin-left:1rem;
}
.checkbox_bg {
  background-color: #f0f0f0 !important;
  padding: 10px !important;
  border-radius: 4px !important;
}

.checkboxContainer div[dir="ltr"] input[aria-checked="true"] {
  background-color: #e1f5fe;
  background-color: #0497b8 !important;
  padding: 0.5rem !important;
  border-radius: 4px !important;
}

.checkboxContainer > * {
  padding: 1rem !important;
}

.checkboxContainer {
  padding: 1rem;
  height: 700px;
}

.checkboxContainer div[dir="ltr"].checked {
  background-color: #e1f5fe !important;
  color: #0497b8 !important;
  padding: 0.5rem !important;
  border-radius: 4px !important;
}

/*  .checkboxContainer:has(input[type="checkbox"]:checked) div[dir="ltr"] {
   background-color: #E1F5FE !important;
   color: #0497B8 !important;
   padding: 0.5rem !important;
   border-radius: 4px !important;
} */

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin:0.8rem;
}

.storicoItem {
  background-color: #e1f5fe;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.storicoItem h4 {
  width: 100%;
  margin-bottom: 15px;
}

.header {
  margin:1rem;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 10px; 
}

.totalStorici {
  font-weight: bold;
  color: #333; 
}


.col {
  flex-basis: 48%;
  margin-bottom: 10px;
}

.emptyState {
  text-align: center;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.buttonAvanti {
  background-color: #3e6eb6 !important;
  color: white !important;
}

.confirmButton {
  background-color: #3e6eb6 !important;
  color: white !important;
  margin-left: 5px !important;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  transition: background-color 0.3s ease !important;

  &:hover {
    background-color: darken(#2a4b7c, 10%) !important;
  }
}

.cancelButton {
  background-color: #f44336 !important;
  color: white !important;
  transition: background-color 0.3s ease !important;

  &:hover {
    background-color: darken(#f44336, 10%) !important;
  }
}
