.parentTab:first-child > :first-child > * {
   display: flex;
   justify-content: center;
 }

 .parentForm:first-child {
  max-width:none;
}

.parentForm:first-child > :first-child > * {
   display: grid;
   grid-template-rows: repeat(6, 1fr);
   grid-template-columns: repeat(3, 1fr);
   gap: 2% 10%;
}
/* .checkboxContainer:first-child > :first-child > * > input:checked{
   background-color: #E1F5FE;
   color: #0497B8 !important;
   padding: 0.5rem !important;
   border-radius: 4px !important;
 } */

 .checkboxContainer  div[dir="ltr"]  input[aria-checked="true"] {
   background-color: #E1F5FE;
   background-color: #0497B8 !important;
   padding: 0.5rem !important;
   border-radius: 4px !important;
 }


 .checkboxContainer div[dir="ltr"].checked {
   background-color: #E1F5FE !important;
   color: #0497B8 !important;
   padding: 0.5rem !important;
   border-radius: 4px !important;
 }

/*  .checkboxContainer:has(input[type="checkbox"]:checked) div[dir="ltr"] {
   background-color: #E1F5FE !important;
   color: #0497B8 !important;
   padding: 0.5rem !important;
   border-radius: 4px !important;
} */