/* styles.module.css */
body::before{
  content:none !important;
}
.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
/*   background: linear-gradient(135deg, #2A4B7C 0%, #0497B8 100%); */
  /* background: linear-gradient(135deg, #4CAF50 0%, #F2811D 100%); */

  background: linear-gradient(135deg, #3e6eb6 0%, #E1F5FE 100%);
}

/* .loginCard {
  padding: 30px;
  text-align: center;
  background: #F1F1F1;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
} */

.loginContent {
  width: 500px;
  padding: 50px;
  background: #f1f1f1;
  border-radius: 15px;
  box-shadow: 20px 20px 25px rgba(0, 0, 0, 0.1);
}

.mobileLoginContent {
  width: 90vw;
  padding: 40px 10px 10px 10px;
  background: #f1f1f1;
  border-radius: 15px;
  box-shadow: 20px 20px 25px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 300px;
  margin-bottom: 20px;
}

.logoMobile {
  width: 200px;
  margin-bottom: 20px;
}

.header{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
h1 {

  margin-bottom: 10px;
  font-size: 30px;
  color: #2A4B7C;
}

p {
  margin-bottom: 20px;
  font-size: 18px;
  color: #6C757D;
}

.kButton {

  /* background-color: #4CAF50; */ /* Primary button color */
  background-color: #3e6eb6;
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top:15px;
}

.kButton:hover {
  background-color: #325486;
}

.formLogin{
  margin-top:15px;
  padding-top:15px;
  border-top: 1px solid #dedede;
}

.boxSSO{
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
  padding-top:30px;
  border-top: 1px solid #dedede;
}

.mobileBoxSSO {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #dedede;
}