 

 .windowStyle{
   height:100% !important
 }

 .windowStyle > div > div > button:first-child  {
  display:none !important
}
.windowStyle > div > div > span:first-child {
   display:none !important
 }

 .windowStyle > div > div > svg:first-child {
   display:none !important
 }

 .windowDelete > div > div > svg:first-child {
  display:none !important
}

/* .windowDelete > div > div > span:first-child {
  display:none !important
} */

.windowDelete > div > div > button:first-child  {
  display:none !important
}

.windowDelete{
  margin-top:1rem;
}