.container{
    position: absolute;
    top:0;
    bottom:0;
    left:100%;
    right:0;
    background-color: var(--kendo-color-app-surface);
    transition: all ease 0.5s;
    z-index: 3;
    &.opened{
        left:0;
    }

    & > .header{
        height: 30px;
        position: sticky;
        border-bottom: 1px solid #dedede;
        display: flex;
        align-items: center;
        height: 60px;
        justify-content: space-between;
        
    }


}

.icon{
    cursor: pointer;
    transition: .5s ease all;
    margin:auto;
    padding: 5px;
    width: 25px !important;
    height: 25px !important;
    &:hover{
        background-color: #dedede;

        border-radius: 50%;
    }
    margin-right:20px
}

.body{
    padding: 30px;
}