.formDelete{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    align-items: center;
    font-size: 20px;
    
     & > div {
        display: flex;
        gap:20px;
     }
 }