.container {
  padding: 2rem;

  &.loading {
    background: #9d9d9d3d;
  }
}

.itemContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 0 !important;
  border-bottom-width: 1px !important;
}

.datesContainer {
  display: flex;
  flex-direction: column;
}

.buttonsContainer {
  display: flex;
  column-gap: 1rem;
  padding-right: 4px;
}

.name {
  text-transform: uppercase;
}

.tabContent {
  & > div {
    width: 100%;
  }
}

.approvedText {
  color: green;
}

.approvedRequest svg {
  fill: green;
}

.rejectedRequest svg {
  fill: red;
}

.rejectedText {
  color: red;
}

.header {
  padding-bottom: 1rem;
}

.footer {
  padding-top: 1.5rem;
}

.notesButton {
  color: white;
  font-weight: bold;
  background-image: linear-gradient(-180deg, #FF7E31, #E62C03);
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
}

.paginationContainer {
  padding-top: 1.5rem !important;
}

.actionButtonsContainer {
  display: flex;
  gap: 8px;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  margin-top: 16px;
}