.container {
  padding: 2rem;
}

.itemContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem 0 !important;
  border-bottom-width: 1px !important;
}

.buttonsContainer {
  display: flex;
  column-gap: 1rem;
  padding-right: 4px;
}

.name {
  text-transform: uppercase;
}

.tabContent {
  & > div {
    width: 100%;
  }
}