.container{
    height:100%;
    background-color: #f2f6fc;
    //padding:10px;
    display: flex;
    flex-direction: column;
}

.list{
    padding-left:10px;
    padding-right: 10px;
    display: grid;
    grid-template-columns: 200px auto 100px;
    align-items: center;
    height: 40px;
    cursor: pointer;
    //justify-items: center;
    border-bottom: 1px solid rgb(128, 128, 128);

    &.unread{
        background-color: var(--kendo-color-app-surface);
    }

    &:hover{
        box-shadow: inset 1px 0 0 rgb(218, 220, 224), inset -1px 0 0 rgb(218, 220, 224), 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
        //border: 1px solid rgb(128, 128, 128);
        z-index: 2;
    }
}