.filterCell {
    display: flex;
    max-width: 800px;
}

.filterContainer {
    display: flex;
    gap: 10px;
    margin-top: 8px;
    position: relative;
}

.inputBox {
    max-width: 100px;
    max-height: 36px;
}

.filterButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

/* Nascondi la freccia di default della DropDownList */
.dropDown button {
    display: none;
}

.dropDown  {
    max-width:40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.customPopup  {
    width: 200px !important;
}

.clearButton {

    align-self: flex-start;
}

.iconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
