.container{
    display: grid;
    /* grid-template-rows: repeat(6, 1fr); */
    grid-template-columns: repeat(3, 1fr);
    gap: 2% 10%;
    //border:0;
    border:solid var(--kendo-color-border, rgba(33, 37, 41, 0.13)) 2px;
    
    margin:0 !important;

    & legend {
        margin:0 !important;
        border:0 !important;
        width: fit-content !important;
    }

    & .add_country_btn{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 10px;
        padding-top:10px
    }


}