
.listItem{
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f8f8f8;
    box-shadow: 10px -5px 10px rgba(45, 5, 35, 0.1);
    display: flex;
    gap: 15px;
    flex-direction: row;
    align-items: flex-end;
    width: 50%;
    padding-left: 2%;
    & > span {
        margin-top:3px
    }
}
.buttonContainer{
    justify-self: flex-end;
    margin-top:100px;
}


.typographyLabel {
    font-size: 16px; /* Dimensione del testo */
}