/* .gridContainer {
  height: 900px; 
  max-height: 900px;
} */

.grid {
  height: 100%;
  padding: 0.5rem;
}

.commandButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.columnGrid {
  min-width: 200px;
}

.toolBarContainer {
  border-radius: 5px;
}

.commandCustomButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
