.rapportinoContainer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}

.errorBox{
    padding: 10px 15px;
    background-color: rgba(255,0,0,0.6);
    color:rgb(60, 4, 4);
}

.footer{
    display: flex;
    justify-content: flex-end;
    padding-top:10px;
}

.holidayInputs{
    display: flex;
    justify-content: space-between;
    gap:20px
}

.disabledPanel *{
    pointer-events: none;
}

.disabledPanel::after{
    content: '';
    position: absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.2);
    cursor: not-allowed;
    
}

.chipsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}