.formContainer{
    & > form > fieldset {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap:10px;
        & > div[class*="residenza-input"], & > div[class*="sede-input"], & > div[class*="note-input"]{
            grid-column-start: 1;
            grid-column-end: 4;
        }
    }

    & :global(.notes-input), & :global(.PrimarySkill-input),
     & :global(.SecondarySkill-input),
     & :global(.LanguagesSkill-input){
        grid-column: 1 / span 3;
    }

    & :global(.continuative-input){
        align-self: center;
        padding-top: 15px;
    }
}