.container {
  position: relative;
}

.loaderContainer {
  background: #9d9d9d3d;
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}