.parentButtonHamburgerText {
  display: flex;
  align-items: center;
  margin: 20px;
}

.sidebarContainer {
  :global(.k-drawer-container) {
    background: #f6f6f6e0 !important;
    height: calc(100vh) !important;
  }
  :global(.k-drawer-item) {
    user-select: none !important;
  }
  :global(.k-drawer-item .k-icon) {
    font-size: 20px !important;
  }
  :global(.k-drawer-content) {
    height: 100vh !important;
    /* padding: 0 0 0 0 !important; */
  }
  :global(.k-drawer-item.sub-item) {
    padding-left: 20px !important;
  }
}

.sidebarContainer {
  :global(.k-drawer-container) {
    height: 100vh !important;
  }
}

.childItem {
  margin-left: 2rem;
}

.drawerContent {
  border-radius: 5px !important;
  padding: 0.5rem 0.5rem 0rem 0.5rem;
  background: #ebf0f4;
}

/* #3e719938 #a2cfe54d  #b3d7ff5c #B3D7FF #b3d7ff2b #b3d7ff3d*/

.toolbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.autoComplete{
  width:36%
}

.buttonToolBar{
  display:flex;
  justify-content: space-around;
}