.parentButtonHamburgerText {
  display: flex;
  align-items: center;
  margin: 20px;
}

.sidebarContainer {
  :global(.k-drawer-container) {
    background: #f6f6f6e0 !important;
    height: calc(100vh) !important;
  }
  :global(.k-drawer-item) {
    user-select: none !important;
  }
  :global(.k-drawer-item .k-icon) {
    font-size: 20px !important;
  }
  :global(.k-drawer-content) {
    height: 100vh !important;
    /* padding: 0 0 0 0 !important; */
  }
  :global(.k-drawer-item.sub-item) {
    padding-left: 20px !important;
  }
}

.sidebarContainer {
  :global(.k-drawer-container) {
    height: 100vh !important;
  }
}


.childItem {
  margin-left: 2rem;
}

.drawerContent{
  border-radius:5px !important;
  padding: 6rem 0.5rem 0rem 0.5rem !important;
  background: linear-gradient(135deg, #3e6eb6 0%, #E1F5FE 100%);
}