.parentButtonHamburgerText {
  display: flex;
  align-items: center;
  margin: 20px;
}

.sidebarContainer {
  :global(.k-drawer-container) {
    background: #f6f6f6e0 !important;
    height: calc(100vh) !important;
  }
  :global(.k-drawer-item) {
    user-select: none !important;
  }
  :global(.k-drawer-item .k-icon) {
    font-size: 20px !important;
  }
  :global(.k-drawer-content) {
    height: 100vh !important;
    & > div{
      position: relative;
     
      padding-top: 1px;
      padding-bottom:1px;
      border-radius: 0px;
      &:nth-child(2){
        margin-top:30px;
      }
/*       &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0px;
        right: 0px;
        height: 1px;
        
        border-radius: 10px; 
        background: linear-gradient(90deg, rgba(248, 147, 28, 0) 0%, rgba(248, 147, 28, 1) 10%, rgba(120, 122, 125, 1) 50%, rgba(0, 174, 239, 1) 90%, rgba(0, 174, 239, 0) 100%);
        //filter: blur(1px); 
        //opacity: 0.7; 
      }
      &::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0px;
        right: 0px;
        height: 1px;
        
        border-radius: 10px; 
        background: linear-gradient(90deg, rgba(248, 147, 28, 0) 0%, rgba(248, 147, 28, 1) 10%, rgba(120, 122, 125, 1) 50%, rgba(0, 174, 239, 1) 90%, rgba(0, 174, 239, 0) 100%);
        //filter: blur(1px); 
        //opacity: 0.7; 
      } */
      
    }
    
    /* padding: 0 0 0 0 !important; */
  }
  :global(.k-drawer-item.sub-item) {
    padding-left: 20px !important;
  }
}

.titleContainer{
  padding: 10px 5px;
  //background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  & > h4{
    margin:0
  }
}

.borderBottom{
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, rgba(248, 147, 28, 1) 0%, rgba(120, 122, 125, 1) 50%, rgba(0, 174, 239, 1) 100%);

}

.sidebarContainer {

  :global(.k-drawer-container) {
    height: 100vh !important;
  }
}

.childItem {
  margin-left: 2rem;
}

.drawerContent {
  border-radius: 5px !important;
  padding: 0.5rem 0.5rem 0rem 0.5rem;

  background: rgb(248,147,28);
  background: linear-gradient(90deg, rgba(248,147,28,0.1) 0%, rgba(120,122,125,0.1) 50%, rgba(0,174,239,0.1) 100%);

}

.popoverContainer{
  display: flex;
  flex-direction: column;
  gap:5px;
}
/* #3e719938 #a2cfe54d  #b3d7ff5c #B3D7FF #b3d7ff2b #b3d7ff3d*/

.toolbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;

 

}


.autoComplete{
  width:36%
}

.buttonToolBar{
  display:flex;
  justify-content: space-around;
}