.button {
  background-color:  #3e6eb6 !important;
  color: white !important;
  border: none;
  border-radius: 10px !important; /* Adjust the border-radius value as needed */
  padding: 10px 20px !important; /* Adjust padding as needed */
  cursor: pointer;
  font-size: 16px; /* Adjust font-size as needed */
  transition: background-color 0.3s !important;
  margin-top:10px;

  &:hover {
    background-color: #456ca7 !important; /* Adjust hover color as needed */
  }
}

.parentButton{
  display:flex;
  justify-content: flex-end;
}
