.k-dialog-wrapper.k-scheduler-edit-dialog {
    position: absolute !important;
  }
  
  
  body{
    margin:0 !important;
    overflow: hidden !important;
    background: var(--kendo-color-app-surface) !important;
  }



  

body::before{
  content:'' !important;
  position: absolute !important;
  top:0 !important;
  right:0 !important;
  bottom:70% !important;
  left:0 !important;
  background: linear-gradient(87deg, var(--kendo-color-primary) 0, var(--kendo-color-tertiary) 100%)  !important;
}

.k-drawer-container{
  position: absolute !important;
  background: none !important;
  top:0px !important;
  bottom:30px !important;
  left:0 !important;
  right: 0px !important;
}

.k-drawer{
  margin:20px !important;
  margin-top:0 !important;
  border-radius:20px !important;
  padding:30px 15px !important;
  border:none !important;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15) !important;
}

.k-drawer > .k-drawer-wrapper{
  width: 100% !important;
}

.k-drawer .k-drawer-items{
  gap:10px !important;
}

.k-drawer .k-drawer-logo{
  margin:auto !important;
  margin-bottom:20px !important;
}

.k-drawer .k-drawer-item{
  border-radius:20px !important;
}

.k-drawer-content{
  margin-right: 20px !important;
  height: 100% !important;
}

.k-drawer-container{
  padding-top:50px !important;
  
}

.page-container{
  padding-top: 20px !important;
  background-color: var(--kendo-color-app-surface) !important;
  border-radius: 20px !important;
  margin:0 !important;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15) !important;
}
.k-grid, .k-pager,.k-grid-toolbar{
  border:none !important;
  background-color: var(--kendo-color-app-surface) !important;
}

