.loading-spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading-spinner-message {
  text-align: center;
  font-size: 0.875rem;
}

.loading-spinner-fullscreen {
  backdrop-filter: blur(2px);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}