.recruitingInterview > td {
    max-width: 100px;
    white-space: normal;
}

.editContainer {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.editCheckbox {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 14px;
    color: #333;
}

.editTitle {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}