.buttonDownload{
    margin-left: 0.3rem;
    margin-top:0.5rem;
}

.uploadContainer{
display: flex;
flex-direction: column;
}

.fileInfoContainer {
    display: flex;
    align-items: center; 
    gap: 10px; 
  }